<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<aside th:fragment="sidebar" class="main-sidebar sidebar-dark-primary elevation-4">

    <a th:href="@{/room}" class="brand-link">
        <span class="brand-text font-weight-light">BooKing</span>
    </a>

    <div class="sidebar">

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a th:href="@{/room}" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Room
                            <span class="badge badge-info right">N</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/booking}" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Booking
                            <span class="badge badge-info right">N</span>
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</aside>
</body>
</html>